.postPage_content {
    padding: 10px;
}

.postPage_content>div {
    margin-bottom: 10px;
}

.postPage_item {
    padding: 10px 0px;
}

.postPage_text {
    margin: 0px;
    padding: 10px;
    margin-bottom: 0px;
}

.postPage_author {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px 0px 0px;
}

.postPage_author>a {
    text-decoration: none;
    padding: 0px 0px 0px 5px;
    color: var(--theme-color);
}

.postPage_comments {
    padding: 10px 5px 0px 5px;
}

.postPage_addNewComment {
    padding: 0px 10px;
}