.post {
    display: flex;
    padding-left: 20px;
}

.post>img {
    padding: 10px;
    display: block;
    margin: auto;
}

.postInfo {
    width: 100%;
}

.postInfo>h4 {
    margin-bottom: 0px;
}

.postInfo>h4>a{
    text-decoration: none;
    color: var(--theme-color);
}

.postInfo>p {
    margin-top: 0px;
}

.postCommentsCount {
    width: 50px;
    margin: auto 0;
}

.postAuthor {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: auto 0;
}

.postAuthor>a {
    text-decoration: none;
    color: var(--theme-color);
}