.addNewPostPage_container {
    padding: 10px;
}

.addNewPostPage_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.addNewPostPage_content input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.addNewPostPage_content textarea {
    padding: 12px 20px;
    margin: 8px 0;
    height: 140px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100px;
}

.addNewPostPage_buttonContainer {
    display: flex;
    justify-content: center;
}